footer{
  background-color:blue;   
  text-align: center;
  height: 120px;
  padding: 5px;
  margin-top: 20px;

}



footer h6{
  color: yellow;
}

.container{
  background-color: cornflowerblue;
  
}

.volver{
  color: black;
font-style: italic;
}

